
google-api-core==2.24.1
google-api-python-client==2.161.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.66.0
pipenv==2024.4.0
pyTelegramBotAPI==4.26.0
python-dotenv==1.0.1
python-telegram-bot==20.7
regex==2024.9.11
requests==2.32.3
